<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r120/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <title>Stats-212</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      body{
        margin: 0;
        overflow: hidden;
      }

      canvas{
        background: red;
      }

    </style>
  </head>
  <body>

    <svg style="position:absolute; width:100%; height: 100%; left:0; top:0" viewBox="0 0 800 600">
      <style>
        #points, #assists, #rebounds {
          font: 30px sans-serif;
          cursor: pointer;
        }
        #pointtext, #playertext{
          font: 30px sans-serif;
          fill: #F95;
        }
        .rect{
          cursor: pointer;
        }
      </style>

      <linearGradient id="naran">
        <stop offset="0%"   style="stop-color:#830" />
        <stop offset="25%"  style="stop-color:#C70" />
        <stop offset="50%"  style="stop-color:#F90" />
        <stop offset="75%"  style="stop-color:#C70" />
        <stop offset="100%" style="stop-color:#A50" />
      </linearGradient>

      <rect x="80" y="15" width="200" height="80" fill="url(#naran)" fill-opacity="40" stroke="#111" rx="15" id="points"/>
      <text x="100" y="65" textLength="160" id=points fill="#222"> Points </text>
      <rect x="303" y="15" width="200" height="80" fill="url(#naran)" fill-opacity="40" stroke="#111" rx="15" id="assists"/>
      <text x="320" y="65" textLength="160" id=assists fill="#222"> Assists </text>
      <rect x="526" y="15" width="200" height="80" fill="url(#naran)" fill-opacity="40" stroke="#111" rx="15" id="rebounds"/>
      <text x="540" y="65" textLength="160" id=rebounds fill="#222"> Rebounds </text>

     <g class="rect">
      <rect x="125" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect0"/>
      <rect x="185" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect1"/>
      <rect x="245" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect2"/>
      <rect x="305" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect3"/>
      <rect x="360" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect4"/>
      <rect x="420" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect5"/>
      <rect x="475" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect6"/>
      <rect x="535" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect7"/>
      <rect x="590" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect8"/>
      <rect x="650" y="200" width="40" height="250" fill="#333" fill-opacity="0" stroke="#999" id="rect9"/>
     </g>

     <text x="220" y="160" textLength="180" id=playertext lengthAdjust="spacingAndGlyphs">  </text>
     <text x="440" y="160" textLength="120" id=pointtext>  </text>

    </svg>


    <canvas id="myCanvas"></canvas>

    <script>
       var xpos = 280; //ball x position
       var camera, scene, renderer;

       let balls = [];


       //   ypos points
       //   ypos = data[i][2]/60-420;

       // ypos for assists
       //   ypos = data[i][3]/60-80;

       //   ypos for rebounds
       //   ypos = data[i][4]/60-180;

       function init() {
         console.log()

         renderer = new THREE.WebGLRenderer({canvas: document.getElementById('myCanvas'), antialias: true});
         renderer.setClearColor(0x282222);
         renderer.setPixelRatio(window.devicePixelRatio);
         renderer.setSize(window.innerWidth, window.innerHeight);
         document.body.appendChild(renderer.domElement);

         // create camera
         camera = new THREE.PerspectiveCamera(35, window.innerWidth / window.innerHeight, 0.1, 3000);
         camera.position.z = 1000;
         camera.position.y = 185;
         //create scene
         scene = new THREE.Scene();

         //lights

         var spotLight1 = new THREE.SpotLight(0xFFCCC2, 1);
         spotLight1.penumbra = 1.0;
         spotLight1.position.set(-200, 480, 0);
         scene.add(spotLight1);

         var spotLight2 = new THREE.SpotLight(0xFFCCC2, 1);
         spotLight2.penumbra = 1.0;
         spotLight2.position.set(200, 480, 0);
         scene.add(spotLight2);


         // 3D assets

         var ground = new THREE.BoxGeometry(800, 10, 400);
         var groundMaterial = new THREE.MeshStandardMaterial({
         color: 0xC1B446,
         roughness: 0.5,
         metalness: 0.9,
         });

         var groundMesh = new THREE.Mesh(ground, groundMaterial);

         var pole = new THREE.BoxGeometry(5, 180, 5);
         var poleMaterial = new THREE.MeshLambertMaterial({color: 0xF3FFE2});
         var poleMesh = new THREE.Mesh(pole, poleMaterial);
         poleMesh.position.set(380, 90, 0);

         var poleMesh1 = new THREE.Mesh(pole, poleMaterial);
         poleMesh1.position.set(-380, 90, 0);

         var backboard = new THREE.BoxGeometry(2, 50, 90);
         var backMaterial = new THREE.MeshLambertMaterial({color: 0xF3FFE2});
         var backMesh = new THREE.Mesh(backboard, backMaterial);
         backMesh.position.set(-377.5, 160, 0);

         var backMesh1 = new THREE.Mesh(backboard, backMaterial);
         backMesh1.position.set(377.5, 160, 0);

         var hoop = new THREE.TorusGeometry(10, 1, 20, 80);
         var hoopMaterial = new THREE.MeshLambertMaterial({color: 0xF3FFE2});
         var hoopMesh = new THREE.Mesh(hoop, hoopMaterial);
         hoopMesh.position.set(-368, 145, 0);
         hoopMesh.rotation.set(7.9, 0, 0);

         var hoopMesh1 = new THREE.Mesh(hoop, hoopMaterial);
         hoopMesh1.position.set(368, 145, 0);
         hoopMesh1.rotation.set(7.9, 0, 0);

         scene.add(groundMesh);
         scene.add(poleMesh);
         scene.add(poleMesh1);
         scene.add(backMesh);
         scene.add(backMesh1);
         scene.add(hoopMesh);
         scene.add(hoopMesh1);





         let ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[0] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[0].position.x = 280;
         balls[0].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[1] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[1].position.x = 219.5;
         balls[1].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[2] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[2].position.x = 159;
         balls[2].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[3] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[3].position.x = 98.5;
         balls[3].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[4] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[4].position.x = 38;
         balls[4].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[5] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[5].position.x = -23.5;
         balls[5].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[6] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[6].position.x = -84;
         balls[6].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[7] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[7].position.x = -144.5;
         balls[7].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[8] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[8].position.x = -205;
         balls[8].position.y = 50;

         ballMaterial = new THREE.MeshLambertMaterial({color: 0xDD6600});
         balls[9] = new THREE.Mesh(new THREE.SphereGeometry(10, 32, 32), ballMaterial);
         balls[9].position.x = -265.5;
         balls[9].position.y = 50;

         scene.add(balls[0]);
         scene.add(balls[1]);
         scene.add(balls[2]);
         scene.add(balls[3]);
         scene.add(balls[4]);
         scene.add(balls[5]);
         scene.add(balls[6]);
         scene.add(balls[7]);
         scene.add(balls[8]);
         scene.add(balls[9]);



       }

       // run the animation
       function draw() {
          requestAnimationFrame(draw);
          renderer.render(scene, camera);
        }

       var i;

       init();
       draw();

       document.getElementById('points').addEventListener('click', () => {
         console.log("points");

         fetch('/stats/points', { method: 'GET'})
           .then(response => response.json())
           .then(data => {
             i = 2;
             document.getElementById("playertext").innerHTML = '';
             document.getElementById("pointtext").innerHTML = '';
             balls[0].position.y = data[0][2]/60-420;
             balls[1].position.y = data[1][2]/60-420;
             balls[2].position.y = data[2][2]/60-420;
             balls[3].position.y = data[3][2]/60-420;
             balls[4].position.y = data[4][2]/60-420;
             balls[5].position.y = data[5][2]/60-420;
             balls[6].position.y = data[6][2]/60-420;
             balls[7].position.y = data[7][2]/60-420;
             balls[8].position.y = data[8][2]/60-420;
             balls[9].position.y = data[9][2]/60-420;

             disp(data);

             });

       });

       document.getElementById('assists').addEventListener('click', () => {
         console.log("assists");

         fetch('/stats/assists', { method: 'GET'})
           .then(response => response.json())
           .then(data => {
             i = 3;
             document.getElementById("playertext").innerHTML = '';
             document.getElementById("pointtext").innerHTML = '';
             balls[0].position.y = data[0][3]/60-80;
             balls[1].position.y = data[1][3]/60-80;
             balls[2].position.y = data[2][3]/60-80;
             balls[3].position.y = data[3][3]/60-80;
             balls[4].position.y = data[4][3]/60-80;
             balls[5].position.y = data[5][3]/60-80;
             balls[6].position.y = data[6][3]/60-80;
             balls[7].position.y = data[7][3]/60-80;
             balls[8].position.y = data[8][3]/60-80;
             balls[9].position.y = data[9][3]/60-80;

             disp(data);


             });

       });

       document.getElementById('rebounds').addEventListener('click',  () => {
         console.log("rebounds");

         fetch('/stats/rebounds', { method: 'GET'})
           .then(response => response.json())
           .then(data => {
             i = 4;
             document.getElementById("playertext").innerHTML = '';
             document.getElementById("pointtext").innerHTML = '';
             balls[0].position.y = data[0][4]/60-180;
             balls[1].position.y = data[1][4]/60-180;
             balls[2].position.y = data[2][4]/60-180;
             balls[3].position.y = data[3][4]/60-180;
             balls[4].position.y = data[4][4]/60-180;
             balls[5].position.y = data[5][4]/60-180;
             balls[6].position.y = data[6][4]/60-180;
             balls[7].position.y = data[7][4]/60-180;
             balls[8].position.y = data[8][4]/60-180;
             balls[9].position.y = data[9][4]/60-180;


             disp(data);




             });

       });

      function onWindowResize() {

  			camera.aspect = window.innerWidth / window.innerHeight;
  			camera.updateProjectionMatrix();

  			renderer.setSize( window.innerWidth, window.innerHeight );
      }

      function disp(data){
      document.getElementById('rect9').addEventListener('mouseover',() =>{

          console.log(data[0]);
          document.getElementById("playertext").innerHTML = '#1 ' + data[0][1];
          document.getElementById("pointtext").innerHTML = data[0][i];

      });
      document.getElementById('rect8').addEventListener('mouseover', function rec8(){

          console.log(data[1]);
          document.getElementById("playertext").innerHTML = '#2 ' +data[1][1];
          document.getElementById("pointtext").innerHTML = data[1][i];


      });
      document.getElementById('rect7').addEventListener('mouseover', function rec7(){

          console.log(data[2]);
          document.getElementById("playertext").innerHTML = '#3 ' +data[2][1];
          document.getElementById("pointtext").innerHTML = data[2][i];

      });
      document.getElementById('rect6').addEventListener('mouseover', function rec6(){

          console.log(data[3]);
          document.getElementById("playertext").innerHTML = '#4 ' +data[3][1];
          document.getElementById("pointtext").innerHTML = data[3][i];

      });
      document.getElementById('rect5').addEventListener('mouseover', function rec5(){

          console.log(data[4]);
          document.getElementById("playertext").innerHTML = '#5 ' +data[4][1];
          document.getElementById("pointtext").innerHTML = data[4][i];


      });
      document.getElementById('rect4').addEventListener('mouseover', function rec4(){

          console.log(data[5]);
          document.getElementById("playertext").innerHTML = '#6 ' +data[5][1];
          document.getElementById("pointtext").innerHTML = data[5][i];


      });
      document.getElementById('rect3').addEventListener('mouseover', function rec3(){

          console.log(data[6]);
          document.getElementById("playertext").innerHTML = '#7 ' +data[6][1];
          document.getElementById("pointtext").innerHTML = data[6][i];



      });
      document.getElementById('rect2').addEventListener('mouseover', function rec2(){

          console.log(data[7]);
          document.getElementById("playertext").innerHTML = '#8 ' +data[7][1];
          document.getElementById("pointtext").innerHTML = data[7][i];


      });
      document.getElementById('rect1').addEventListener('mouseover', function rec1(){

          console.log(data[8]);
          document.getElementById("playertext").innerHTML = '#9 ' +data[8][1];
          document.getElementById("pointtext").innerHTML = data[8][i];


      });
      document.getElementById('rect0').addEventListener('mouseover', function rec0(){

          console.log(data[9]);
          document.getElementById("playertext").innerHTML = '#10 ' +data[9][1];
          document.getElementById("pointtext").innerHTML = data[9][i];


      });
    }

    </script>

    <script>

    </script>

  </body>
</html>
